<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - UserRoles</title>

    <!-- Bootstrap & MDB UI Kit CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/UserRoles.styles.css" asp-append-version="true" />
</head>
<body>
    @* Main Layout Content *@

    @if (User.IsInRole("Admin"))
    {
        <div class="wrapper">
            @await Html.PartialAsync("_AdminHeader")


            <main class="content">
                @RenderBody()
            </main>
        </div>
    }
    else
    {

        <main class="content">
            @RenderBody()
        </main>
    }

    <!-- Footer -->
    <footer class="border-top text-center text-muted mt-5 py-3">
        <div class="container">
            &copy; 2025 - UserRoles -
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
